.backgroung-search {
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#filter-section {
	position: sticky;
	top: 48px;
	z-index: 9998;
	background: rgb(255, 255, 255);
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) -15%, rgba(255, 255, 255, 0) 200%);
	backdrop-filter: blur(20px);
	padding-bottom: 32px;
}

.search-results-details {
	z-index: 1;
	box-sizing: border-box;
	width: 100%;
	text-align: start;
	position: relative;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.search-input-container {
	z-index: 1;
	width: 100%;
	max-width: 628px;
	margin: 0 auto;
	display: inline-block;
}

.search-input-with-dropdown {
	position: relative;
	box-sizing: border-box;
	height: 40px;
	border-radius: 32px;
	background: #fcfcfc;
	border-color: #e7e7e9;
	border: 1.5px solid #e7e7e9;
	background-color: #fff;
	box-shadow: none;
	line-height: 16px;
	transition: color 200ms ease;
	outline: none;
}

.left-side-wrapper {
	display: flex;
	position: relative;
	flex: 1;
	align-items: center;
	height: 100%;
	padding-left: 14px;
}

.search-input-form {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	height: 100%;
}

.search-input-form i {
	width: auto;
	height: auto;
	color: #fcfcfc;
}

.circle-icon {
	position: absolute;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	top: 50%;
	right: 24px;
	background-color: #c5c5c5;
	height: auto;
	cursor: pointer;
}

.accessibility-text {
	position: absolute;
	width: 0;
	overflow: hidden;
	opacity: 0;
}

.search-input-big {
	height: 100%;
	width: 100%;
	padding: 0;
	padding-left: 45px;
	padding-right: 24px;
	border: none;
	background: transparent;
	font-size: 16px;
}

.search-icon {
	width: 16px;
	height: 16px;
	color: #9e9ea7;
}

.fill-current {
	fill: currentColor;
}

.search-input-big:active {
	border: none;
	background: none;
	box-shadow: none;
}

.search-input-big:focus {
	outline: none;
}

.container-fluid {
	padding-right: 72px;
	padding-left: 72px;
}
