.backgroung-search {
    width: 100%;
    height: 80px;
    background: #FA9500;
}

.search-results-details {
    z-index: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px;
    text-align: center;
}

.search-input-container {
    z-index: 1;
    width: 100%;
    max-width: 628px;
    margin: 0 auto;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search-input-with-dropdown {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    height: 64px;
    border-radius: 8px;
    background: #FCFCFC;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
}

.left-side-wrapper {
    display: flex;
    position: relative;
    flex: 1;
    align-items: center;
    height: 100%;
    padding-left: 28px;
}

.search-input-form {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    height: 100%;
}

.search-input-form i{
    width: auto;
    height: auto;
    color: #FCFCFC;
}

.circle-icon {
    position: absolute;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 24px;
    background-color: #c5c5c5;
    height: auto;
    cursor: pointer;
}

.accessibility-text {
    position: absolute;
    width: 0;
    overflow: hidden;
    opacity: 0;
}

.search-input-big {
    height: 100%;
    width: 100%;
    padding: 0;
    padding-left: 75px;
    padding-right: 24px;
    border: none;
    background: transparent;
    font-size: 16px;
}

.search-icon {
    width: 16px;
    height: 16px;
    color: #9e9ea7;
}

.fill-current {
    fill: currentColor;
}

.search-input-big:active {
    border: none;
    background: none;
    box-shadow: none;
}

.search-input-big:focus {
    outline: none;
}

.main-full {
    width: auto;
    max-width: none;
    float: none;
    display: flex;
    justify-content: space-around;
}

.shots-grid {
    display: grid;
    grid-gap: 36px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    list-style: none;
    max-width: 1032px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 5em;
    margin-block-end: 5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.container-fluid {
    padding-right: 72px;
    padding-left: 72px;
}

.filter-subnav {
    padding-top: 32px;
    padding-right: 320px;
    padding-left: 320px;
}

@media screen and (max-width: 1800px) {
    .filter-subnav {
        padding-right: 72px;
        padding-left: 72px;
    }
}

.filter-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.filter-categories {
    position: relative;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.category {
    display: inline-block;
}

.filter-categories .category.active>a {
    background: #f8f7f4;
}

.filter-settings {
    display: flex;
    flex: 0 0 200px;
    align-items: center;
    justify-content: flex-end;
}

.category a {
    display: inline-flex;
    align-items: center;
    height: 36px;
    padding: 0 16px;
    border-radius: 9999999px;
    color: #0d0c22;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.category a:link,
.category a:visited {
    transition: color 200ms ease;
    color: #0d0c22;
    text-decoration: none;
}

.category a:hover {
    transition: 200ms ease;
    color: #6e6d7a;
}

.filter-btn{
    border-color: #e7e7e9;
    border: 1.5px solid #e7e7e9;
    background-color: #fff;
    box-shadow: none;
    color: #0d0c22;
    line-height: 16px;
    padding: 10px 20px;
    border-radius: 9999999px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height: 40px;
    transition: color 200ms ease;
    outline: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    appearance: none;
    font-size: 14px;
}

.filter-btn:hover {
    transition: 200ms ease;
    color: #6e6d7a;
}

.filter-btn i{
    font-size: 16px;
}